body {
    background-color: #E4ECF2;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-size: 1em;
    line-height: 1.5;
}
.button {
    padding: 6px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 4px;
} 
.button:hover {
    background-color: red;
    border-color: red;
}

.button:active {
    background-color: rgb(20, 5, 150);
    border-color: rgb(20, 5, 150);
}


/* Header */
.header {
    background-color: #FFF4D4;
    padding: 15px;
    position: fixed;
    z-index: 100;
    width: calc(100% - 30px);
    top: 0;
    left: 0;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: auto;
}

.header-logo {
    font-family: "Satisfy", hand-writing;
    font-size: 24px;
    color: #6d6c6c;
}

.header-menu {
    display: flex;
    align-items: center;
}
.header-menu .button {
    margin-left: 10px;
    color: #0E6FFF;
    border: 1px solid #0E6FFF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    padding: 6px 12px 4px;
}

.header-menu .button:hover {
    background-color: #0E6FFF;
    color: #FFF4D4;
}
.header-menu .button:active {
    background-color: #083981;
    color: #FFF4D4;
}

.header-nav a {
    color: #B3ACA2;
    margin: 0 10px;
    font-size: 12px;
    text-decoration: none;
}
.header-nav a.current {
    color: #6d6c6c;
}

.header-nav a:active {
    color: #6d6c6c;
    text-decoration: underline;
}
.header-nav a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #23242A;
    font-size: 13px;
    color: #6d6c6c;
    margin-top: 150px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 45px 0 30px;
}

.col_1 {
    width: 300px;
}



.footer-logo {
    font-family: "Satisfy", hand-writing;
    font-size: 24px;
    color: #6d6c6c;
    margin-bottom: 20px;
}
.footer-title {
    color: #6d6c6c;
    font-size: 13px;
    margin-bottom: 36px;
}

.text {
    line-height: 1.5;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    display: block;
}
.footer a:hover {
    color: #0E6FFF;
}
.footer-top a {
    margin-bottom: 8px;
}

.footer-bottom {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


/* Main */
.main {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.container2 {
    margin-top: 150px;
} 
.divider {
    height: 1px;
    background: #6d6c6c;
}

/* Headlines */
h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 700;
    line-height: 1.2;
}
h1, .h1 {
    font-size: 5.25em;
}
h2, .h2 {
    font-size: 4em;
}

h3, .h3 {
    font-size: 3.25em;
}
h4, .h4 {
    font-weight: 900;
    font-size: 2.75em;
    line-height: 1.2;
}
/* Cta */
.cta {
    background-color: #FFF4D4;
    padding: 30px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    max-width: 1920px;
    margin: auto;
    
}
.cta-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    opacity: 0.7;
}
.cta-text {
    width: 60%;
}
.cta-button {
    text-align: center;
    width: 25%;
    margin-top: 24px;
    position: relative;
    z-index: 2;
}

/* Welcome */

.hero {
    display: flex;
    background: -moz-linear-gradient(top,  rgba(255,244,212,1) 0%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,244,212,1) 0%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,244,212,1) 0%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4d4', endColorstr='#007db9e8',GradientType=0 );
    height: 100vh;
    max-height: 1200px;
    align-items: center;
    padding: 0 0 0 30px;
}
.hero-inner {
    display: flex;
    justify-content: space-between;
    max-height: 64%;
    max-width: 1920px;
    margin: auto;
}
.hero-text {
    width: 60%;
    margin-right: 30px;
    /* padding: 0 3em; */
    
}
.hero-text-inner {
    /* max-width: 300px; */
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-slider  {
    width: 40%;
    position: relative;
}
.hero-slider-item {
    max-width: 827px;
}
.hero-slider-nav {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.hero-slider-nav i {
    background: rgba(0, 0, 0, 0.25);
    width: 25px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    color: #ccc;
    cursor: pointer;
}
.hero-slider-nav i:hover {
    background: blue;
}
.title {
    color: #B3ACA2;
}
.convallis2 {
    margin-top: 20px;
}

.avatar{
    display: flex;
}
.avatar-text {
    align-self: center;
    font-size: 14px;

}
.avatar-name {
    font-weight: 700;
    margin-bottom: 5px;
}
.avatar-img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.avatar-img img {
    max-width: 50px;
}

/* Players */
.players {
    background: #D8F6FF;
    height: 1100px;
}
.player-video1 {
    width: 330px;
    margin: 14% 0% 0% 14% ;
}
.player-text1 {
    margin-right: 21em;
    margin-top: 110px;
    font-size: 12px;
}
.player-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-link {
    margin-top: 18px;
} 
.link {
    color: #0E6FFF;
}

.ghgh {
    font-size: 13px;
    max-width: 330px;
    margin-top: 22px;
}
/* .Players2 */
.player-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -48px;
}
.player-text2 {
    margin: 13%;
    margin-right: 5em;
    font-size: 12px;
}
.player-video2 {
    margin-right: 25em;
    max-width: 300px;
}
/* Team */
.team {
    background-color: white;
    width: 100%;
    height: 850px;
    margin-top: 100px;
}
.team-text {
    text-align: center;

}
.convallis {
    font-size: 14px;
    margin-top: 15px;
}
.team-avatar {
    width: 150px;
    margin: 40px 300px ;
} 

.team-avatar-img {
    display: flex;
    justify-content: space-between;
}
.img1 {
    margin: 5px;
}
.img2 {
    margin: 5px;
}
.img3 {
    margin: 5px;
}
.img4 {
    margin: 5px;
}
.team-avatar-text {
    display: flex;
    justify-content: space-between;
}
.text1 {
    margin: 8px;
}
.text2 {
    margin: 8px;
}
.text3 {
    margin: 8px;
}
.text4 {
    margin: 8px;
}
.review-text {
    text-align: center;
    margin-top: 120px;
}
.avatar2{
    display: flex;
    margin-top: 60px;
    margin-left: 320px;
}
.avatar-text2 {
    align-self: center;
    font-size: 14px;

}
.avatar-name2 {
    font-weight: 700;
    margin-bottom: 5px;
}
.avatar-img2 {
    border-radius: 50%;
    overflow: hidden;
}
.avatar-img2 img {
    max-width: 50px;
}
.gfgf {
    text-align: center;
    margin-top: 50px;
}
.avatar3{
    display: flex;
    margin-top: 50px;
    margin-left: 320px;
}
.avatar-text3 {
    align-self: center;
    font-size: 14px;

}
.avatar-name3 {
    font-weight: 700;
    margin-bottom: 5px;
}
.avatar-img3 {
    border-radius: 50%;
    overflow: hidden;
}
.avatar-img3 img {
    max-width: 50px;
}
@media (max-width: 1920px) {
    .hero-inner {
        margin: auto;
    }
}
@media (max-width: 1200px) {
    h1, .h1 {
        font-size: 3.25em;
    }
    h2, .h2 {
        font-size: 2em;
    }
    
    h3, .h3 {
        font-size: 1.25em;
    }
    h4, .h4 {
        font-size: 1em;
    }
}
@media (max-width: 768px) {
    .header {
        position: static;
    }
    .hero {
        display: block;
        height: auto;
        padding: 0 ;
    }
    .hero-text {
        width: 100%;
        margin: 0;
        /* padding: 0 15px; */
    }
    .hero-inner {
        display: block;
    }
    .hero-slider {
        width: 100%;
        margin: 30px auto 0;
    }
    .convallis {
        margin-bottom: 20px;
    }
    .avatar {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    h1, .h1 {
        font-size: 2.25em;
    }
    h2, .h2 {
        font-size: 1.25em;
    }

    h3, .h3 {
        font-size: 1em;
    }
    h4, .h4 {
        font-size: 0.75em;
    }
}
