body {
    background-color: #E4ECF2;
    color: #000000;
    font-family: "Open Sans", sans-serif;
}

/* Header */
.header {
    background-color: #FFF4D4;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-logo {
    font-family: "Satisfy", hand-writing;
    font-size: 24px;
    color: #6d6c6c;
}

.header-menu {
    display: flex;
    align-items: center;
}
.header-menu .button {
    margin-left: 10px;
    color: #0E6FFF;
    border: 1px solid #0E6FFF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    padding: 6px 12px 4px;
}

.header-menu .button:hover {
    background-color: #0E6FFF;
    color: #FFF4D4;
}
.header-menu .button:active {
    background-color: #083981;
    color: #FFF4D4;
}

.header-nav a {
    color: #B3ACA2;
    margin: 0 10px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}
.header-nav a.current {
    color: #6d6c6c;
}

.header-nav a:active {
    color: #6d6c6c;
    text-decoration: underline;
}
.header-nav a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #04185f;
    color: #ffffff;
}

/* Main */
.main {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
